In [1]:
using Pkg
Pkg.activate(normpath(joinpath(@__DIR__, "..")))

  Activating project at `~/julia_course/IntroJulia`

# Basics of DataFrame usage.
# 1) The DataFrames package and definitions

In [2]:
using DataFrames

In [3]:
# Empty definition
df_empty = DataFrame()

0×0 DataFrame

In [7]:
# Dictionary definition
dict1 = Dict("x" => [1, 2, 3, 4], "y" => [11, 12, 13, 14], "z" => [21, 22, 23, 24])
df_dict = DataFrame(dict1)

4×3 DataFrame
 Row │ x      y      z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1     11     21
   2 │     2     12     22
   3 │     3     13     23
   4 │     4     14     24

In [8]:
# Directly
df_direct = DataFrame("x" => [11, 22, 33, 44], "y" => [21, 22, 23, 24], "z" => [31, 32, 33, 34])

4×3 DataFrame
 Row │ x      y      z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │    11     21     31
   2 │    22     22     32
   3 │    33     23     33
   4 │    44     24     34

Multiple other methods for construction exist, see: https://dataframes.juliadata.org/stable/

# Accessing column values

In [9]:
# By column variable
df_direct.x

4-element Vector{Int64}:
 11
 22
 33
 44

In [10]:
# By Symbol
df_direct[!, :x]

4-element Vector{Int64}:
 11
 22
 33
 44

In [11]:
# By string
df_direct[!, "x"]

4-element Vector{Int64}:
 11
 22
 33
 44

# Iteration

In [13]:
# By column
for col in eachcol(df_direct)
    println("Column values: ", col)
end

Column values: [11, 22, 33, 44]
Column values: [21, 22, 23, 24]
Column values: [31, 32, 33, 34]

In [14]:
# By row
for row in eachrow(df_direct)
    println("Row values: ", row)
end

Row values: DataFrameRow
 Row │ x      y      z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │    11     21     31
Row values: DataFrameRow
 Row │ x      y      z
     │ Int64  Int64  Int64
─────┼─────────────────────
   2 │    22     22     32
Row values: DataFrameRow
 Row │ x      y      z
     │ Int64  Int64  Int64
─────┼─────────────────────
   3 │    33     23     33
Row values: DataFrameRow
 Row │ x      y      z
     │ Int64  Int64  Int64
─────┼─────────────────────
   4 │    44     24     34

# Adding a new column

In [16]:
println("Empty dataFrame? ", isempty(df_empty), ", print it: ", df_empty)
# Add a column
df_empty.x = [9, 10, 11, 12, 13]
println("Empty now? ", isempty(df_empty), ", print ir: ", df_empty)

Empty dataFrame? true, print it: 0×0 DataFrame
Empty now? false, print ir: 5×1 DataFrame
 Row │ x
     │ Int64
─────┼───────
   1 │     9
   2 │    10
   3 │    11
   4 │    12
   5 │    13

# Add a new row

In [17]:
println("How many rows? ", nrow(df_direct), ", How many columns? ", ncol(df_direct))
# push a tuple to the df
push!(df_direct, (99, 99, 99))
println("How many rows? ", nrow(df_direct), ", How many columns? ", ncol(df_direct))

How many rows? 4, How many columns? 3
How many rows? 5, How many columns? 3